---
layout: default
---

<section class="section-metiers">

  <h1>Nos métiers</h1>

  <div class="metiers">

    <div class="metier-unit">
      <div class="icone-plomberie">{% include icones/plomberie.html %}</div> <p>Plomberie</p>
    </div>

    <div class="metier-unit">
      <div class="icone-chauffage">{% include icones/chauffage.html %}</div> <p>Chauffage</p>
    </div>

    <div class="metier-unit">
      <div class="icone-peinture">{% include icones/peinture.html %}</div> <p>Peinture</p>
    </div>

    <div class="metier-unit">
      <div class="icone-parquet">{% include icones/parquet.html %}</div> <p>Parquet</p>
    </div>

    <div class="metier-unit">
      <div class="icone-carrelage">{% include icones/carrelage.html %}</div> <p>Carrelage</p>
    </div>

    <div class="metier-unit">
      <div class="icone-maconnerie">{% include icones/maconnerie.html %}</div> <p>Maçonnerie</p>
    </div>

    <div class="metiers-unit2">
      <div class="icone-electricite">{% include icones/electricite.html %}</div> <p>Electricite</p>
    </div>

  </div>

<section class="section-RenInt">

  <h1>Rénovation d'intérieurs</h1>

  <div class="RenInt">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <img src="/assets/img/accueil.jpg" alt="Accueil" />
  </div>

</section>

</section>
