.meubles
  margin: 100px auto
  text-align: center

  p
    width: 90%
    margin: auto
  h1
    margin-bottom: 50px

.logo-amb
  margin: 50px auto
  a
    img
      max-width: 80%
      height: 100%

.ambd
  border: solid
  border-color: $black
  border-width: thin
  padding: 15px

.img-amb
  max-width: 90%
  margin: 50px auto
  img
    max-width: 80%
    height: auto
    margin: 15px 15px

.peinture
  padding: 100px 0
  margin: auto
  text-align: center
  background-color: $silver
  h1
    margin-bottom: 50px
  h2
    margin: 50px auto
  p
    width: 80%
    margin: auto
    text-align: center
    margin-bottom: 50px
  img
    max-width: 80%
    height: auto

ul
  list-style-position: inside
  text-align: center

.logo-res
  margin: 50px auto
  // width: 80%
  a
    img
      width: 740px
      max-width: 80%
      height: 100%

.carrelage
  padding: 100px 0
  p
    max-width: 80%
    margin: 50px auto
  img
    max-width: 80%
    height: auto
    padding: auto

.logos-carrelage
  a
    img
      margin: 50px 0
      width: 300px
      height: auto

.paco
  padding: 100px 0
  background-color: $silver
  p
    margin: 100px auto 50px
    max-width: 80%
  img
    margin: 50px auto
    width: 700px
    max-width: 80%
    height: auto

.logo-paco
  a
    border: solid
    padding: 15px
    text-transform: uppercase
    color: #868082
    font:
      size: 36px
      family: Abel, Arial, Helvetica, sans-serif

.fenetres
  padding: 100px 0
  div
    margin-bottom: 50px
  p
    max-width: 80%
    margin: 50px auto
  img
    max-width: 80%
    height: auto
