.logo-pyram
  max-width: 80%
  margin: auto
  img
    margin-bottom: 50px
  a
    img
      width: 500px
      max-width: 100%
      height: auto


.img-pyram
  max-width: 80%
  height: auto
  margin: auto

.plan-travail
  background-color: $silver

.center
  margin: auto
  display: table
  max-width: 80%
  ul
    text-align: left
    +columns(150px 2)

.imgblock
  display: inline-block
  margin: 50px auto
  max-width: 80%
  img
    max-width: 80%
    height: auto
    // margin: auto 50px

.electromenager
  padding: 100px 0
  p
    max-width: 80%
    margin: 50px auto
    u
      text-decoration: underline
      text-decoration-style: double

.logo-agensia
  a
    img
      width: 400px
      max-width: 80%
      height: auto
      margin: auto auto 25px
      border: solid
      border-width: thin
      border-color: $gray
      padding: 0.5%

.cuisbain
  padding: 100px 0
  background-color: $silver
  p
    max-width: 80%
    margin: 50px auto
    a
      color: $black
    a:hover
      text-decoration: underline
  img
    max-width: 80%
    height: auto

.logo-cuisbain
  img
    background-color: red
    margin-bottom: 50px
    max-width: 80%
    height: auto
