.texte-pres
  width: 960px
  max-width: 85%
  padding: 0 15px
  margin: 100px auto
  font:
    weight: 300
    size: 20px
  text-align: center
  border:
    top: solid
    bottom: solid
    width: 1px

.img-accueil
  display: block
  margin: 0 auto 100px
  max-width: 90%
  height: auto
  box-shadow: 10px 10px 5px $black

@media screen and (max-width: 580px)
  .texte-pres
    font-size: 10px
    margin: 50px auto
