<footer>

<div class="mr-info">

    <div class="gauche">
      <h4>Monceau Renovation</h4>
      <p>SARL au capital de 7700€ <br/> RCS PARIS : B440787653</p>
    </div>

    <div class="droite">

      <nav>
        <a href="index.html">Accueil</a> |
        <a href="cuisine.html">Cuisine</a> |
        <a href="salledebain.html">Salle de Bains</a> |
        <a href="agencements.html">agencements</a> |
        <a href="nouveautes.html">Nouveautés</a>
      </nav>
      <p>14, rue de Constantinople<br/>75008 PARIS</p>

    </div>

</div>

</footer>
