<header>

  <div class="headings">

    <a href="/index.html" class="logo">{% include icones/logo.html %}</a>

    <div class="lien-accueil"><a href="cuisine.html">Cuisines</a></div>
    <div class="lien-activites"><a href="salledebain.html">Salles de bains</a></div>
    <div class="lien-gallerie"><a href="agencements.html">Agencements</a></div>
    <div class="lien-contact"><a href="nouveautes.html">Nouveautés</a></div>

  </div>

</header>
<div class="spacing">
  <!-- Needed to avoid things to go under the logo in the white bg part -->
</div>
